@charset "utf-8";

:root{
  --color01:#333;
}
/* layout.css */
body{
  font-family: "맑은 고딕", arial, sans-serif;
  font-size:13px;
  color:var(--color01);
  overflow-x:hidden; /* 가로스크롤이 나오지 않게 */
}
a{
  color:var(--color01);
  text-decoration: none;
}

header{
  width:150px;
  height:100%;
  position:fixed;
  left:0px;top:0px;
  background-color:rgba(0,0,0,.8);
  z-index:100;
}

header h1{
  color:#fff;text-align:center;
  padding-top:100px;
  font-size:30px;
}
.gnb{
  padding-top:200px;
  padding-left:10px;
}
.gnb li{line-height:40px;}
.gnb li a{
  color:#fff;
  font-size:18px;
  font-weight:bold;
  text-transform: uppercase;
  transition:0.5s;
}
.gnb li a.on{
  font-size:20px !important;
  font-weight:bold;
}
/* 각 메뉴별 적용할 컬러선정 */
.gnb li:first-child a.on{color:#6897ff;}
.gnb li:nth-child(2) a.on{color:#d90c2c;}
.gnb li:nth-child(3) a.on{color:#ffc607;}
.gnb li:last-child a.on{color:#27c2f0;}

/* 메인서식 */
#cont{
  display:flex;
  flex-wrap: wrap;
  width:100%;height:400vh;
}
#cont section{
  width:100%;height:100vh;
  background-position:right center;
  position:relative;
}
#cont section h2{
  font-size:24px;font-weight:bold;
  position:absolute;
  left:180px;top:200px;
}
#cont section p{
  position:absolute;
  left:180px;top:250px;
  background-color:rgba(255,255,255,.9);
  width:400px;font-size:15px;
  padding:10px;line-height:30px;
  text-align:justify;
  text-indent:10px;
}
#cont section p:first-letter{
  font-weight:bold;font-size:30px;
}

#sect1 h2{color:#6897ff;}
#sect2 h2{color:#d90c2c;}
#sect3 h2{color:#ffc607;}
#sect4 h2{color:#27c2f0;}
#sect1{background-image:url('../images/cooper.jpg');}
#sect2{background-image:url('../images/tesla.jpg');}
#sect3{background-image:url('../images/lamborghini.jpg');}
#sect4{background-image:url('../images/porsche.jpg');}

/* 푸터서식 */
footer{
  position:fixed;bottom:0px;left:150px;
  width:calc(100% - 150px);
  background:rgba(0,0,0,.8);
  color:#fff;
  text-align:center;line-height:50px;
}

/* 스크롤값 서식 */
#sPos{
  position:fixed;
  right:100px;top:100px;
  font-size:50px;
  color:#ff0;
}